<!DOCTYPE html>
<html>
<head>
  <title>ToolChest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <h2>Welcome, <%= current_user.username %> |  <%= link_to "logout", logout_path, method: :delete %></h2>
  <% end %>
  <p>
    <strong>Newest tool:</strong> <%= most_recent_tool.name if most_recent_tool %>
  </p>

  <% flash.each do |type, msg| %>
    <%= content_tag :div, msg, class: "flash_#{type}" %>
  <% end %>

<%= yield %>

</body>
</html>
